{% extends 'base.html' %}
{% load static %}

{% block title %}
	Rocket store
{% endblock %}

{% block content %}
	<div class="productslist">
	<div class="container">
		<div class="productslist__title">Каталог товаров</div>
		<div class="productslist__body">
			<div class="productslist__row">

				{% for product in products %}
					<div class="productslist__column">
						<div class="productslist__item">
							<div class="productslist__img">
								<img src="{{ product.image.url }}" alt="Нет фото">
							</div>
							<div class="productslist__text">{{ product.description }}</div>
							<div class="productslist__price">{{ product.price }} руб</div>
							<a href="{% url 'add_to_cart_url' id=product.id %}" class="btn">в корзину</a>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>
{% endblock content %}